*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("logo.png");
    height: 50px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* box 2 */
.add-first{
    color: #cccccc;
    font-size: 0.90rem;
    margin-left: 20px;
}
.add-second{
    font-size: 1rem;
    margin-left: 1px;
}
.add-icon{
    display: flex;
    align-items: center;

}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 45px;
    border-radius: 5px;
}
.nav-search:hover{
    border:2px solid orange

}
.search-select{
    background-color: #f3f3f3;
    width: 101px;
    padding: 5px;
    text-align: center;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 470px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(172, 172, 4);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #0f1111;
}

.dev{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 35px;
    

}
.nav-cart{
    font-weight: 700;
    font-size: 20px;
}
.panel{
    height: 40px;
    background-color: grey;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-all{
    text-align: center;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;

}
.hero-section{
    background-image: url(main.jpg);
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom: 20px;
    position: relative;
    width: 80%;
}
.hero-message a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: rgb(200, 215, 200);
}
.box{
    height: 400px;
   
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
   

    
}
.box-img{
    height: 330px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color:#007185;
    align-items: center;

    
    
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 10px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("logo.png");
    height: 50px;
    width: 100px;    

}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 80px;
}
.pages{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
    font-size: 0.8rem;
    text-align: center;
}
  
